@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
    background: #1f1f1f;
}

.header {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    z-index: 100;
    background: transparent;
}

.logo {
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    cursor: default;
}
.navbar a{
    text-decoration: none;
    padding: 5px;
    color: aliceblue;
}